<html>
<head>
  {{! Document Settings }}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {{! Page Meta }}
  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}" />

  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600|Noto+Serif" rel="stylesheet" type="text/css">

  {{! Ghost outputs important style and meta data with this tag }}
  {{ghost_head}}
</head>
<body>
  <div class="asideheader">
    <div class="feature">
      <img src="/assets/images/me.jpg">
      <div class="description">
        <p class="name">{{@blog.title}}</p>
        <p class="speciality">{{@blog.description}}</p>
        <p class="social">
          <a href="https://www.google.com/maps/place/Potsdam,+Germany"><i class="fa fa-map-marker"></i></a>
          <a href="http://twitter.com/zwitscherwolff"><i class="fa fa-twitter"></i></a>
          <a href="http://de.linkedin.com/pub/felix-wolff/77/756/b66"><i class="fa fa-linkedin"></i></a>
          <a href="http://github.com/flxw"><i class="fa fa-github"></i></a>
        </p>

      </div>
    </div>

    <nav>
      <ul>
        <li><a href='/tag/project'>#projects</a></li>
        <li><a href='/'>#articles</a></li>
      </ul>
    </nav>
  </div>
  <div class="content">
    {{{body}}}

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}
  </div>
</body>
</html>